// COLORS
html {
  --black: #1f1f20;
  --black-dim: #424244;

  --white: #f8f9ff;
  --white-dim: #ceced3;

  --dark-orange: #fc9700;
  --dark-red: #e34601;

  --light-orange: #ffba53;
  --light-red: #ff816b;

  --primary-gradient: linear-gradient(111deg, var(--primary), var(--primary-x));
}

// DARK MODE (DEFAULT)
html {
  --txt: var(--white);
  --txt-dim: var(--white-dim);
  --bg: var(--black);
  --bg-dim: var(--black-dim);

  --primary: var(--dark-orange);
  --primary-x: var(--dark-red);
}

// LIGHT MODE
html.light {
  --txt: var(--black);
  --txt-dim: var(--black-dim);
  --bg: var(--white);
  --bg-dim: var(--white-dim);

  --primary: var(--light-orange);
  --primary-x: var(--light-red);
}

// DEFAULT BODY
body {
  background: var(--bg);
  transition: background 1s ease-out;
}
