*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: var(--txt);
  transition: color 1s ease-out;
}

p {
  color: var(--txt-dim);
  font-weight: 200;
  font-size: var(--h5);
}

button {
  font-size: inherit;
  background: none;
  border: none;
  border-radius: 3px;
  max-width: max-content;
  cursor: pointer;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

svg {
  min-height: 1.5rem;
  min-width: 1.5rem;

  transition: fill 1s ease-out, stroke 1s ease-out;
  stroke: var(--txt);
  fill: var(--txt);
}

ul {
  list-style-type: none;
  font-size: inherit;
  li {
    font-size: inherit;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}

input,
textarea {
  font-size: 1rem;
  background: none;
  border: none;
  box-shadow: 0 0 0 1px #80808050;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: box-shadow 0.1s ease-out;

  &:focus {
    box-shadow: 0 0 0 5px #80808050;
  }
}
