.Home {
}

.Home-Intro {
  position: relative;
  border-top: 1px solid grey;
  padding: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 500;

  background: var(--bg);
  transition: background 1s ease-out;

  h1 {
    font-weight: 300;
    letter-spacing: 3px;
    z-index: 502;

    .text-gradient {
      font-weight: 700;
    }
  }

  &-ScrollDown {
    position: absolute;
    bottom: 100px;
    left: 50%;
    padding: 10px;
    width: max-content;
    height: max-content;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--txt-dim);

    display: flex;
    align-items: center;

    animation: move 1s infinite alternate;

    svg {
      fill: none;
    }

    @keyframes move {
      from {
        transform: translateX(-50%) translateY(-5px);
      }
      to {
        transform: translateX(-50%) translateY(5px);
      }
    }

    svg {
      min-width: 2.2rem;
      min-height: 2.2rem;
    }
  }
}

.Home-What,
.Home-How,
.Home-Price {
  margin: 0 auto;
  max-width: 800px;
  padding: 20vh 15px 20vh;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  row-gap: 1rem;

  p,
  ul > li {
    font-size: var(--h5);
    font-weight: 200;
    color: var(--txt-dim);
  }

  li {
    margin-bottom: 5px;
  }
}

.Home-Portfolio {
  padding: 25vh 0;

  h2,
  p {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px 15px;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: var(--h5);
  }
}

.Home-Contact {
  padding: 5vh 15px 10vh;

  margin: 0 auto;
  max-width: 800px;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: var(--h5);
  }
}
