.LightToggle {
  position: fixed;
  bottom: 20px;
  left: 15px;
  z-index: 600;

  display: flex;
  align-items: center;

  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--txt);
  padding: 5px;
  background: var(--bg);

  cursor: pointer;

  svg {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}
