.Contact {
  display: flex;
  flex-direction: column;
}

.Contact-Form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  label {
    text-transform: uppercase;
    font-weight: 100;
    font-family: var(--font-h);
    font-size: var(--h4);
  }

  input {
    max-width: 30ch;
    margin-bottom: 10px;
  }

  textarea {
    resize: vertical;
    max-width: 80ch;
    margin-bottom: 10px;
  }

  button {
    padding: 5px 15px;
    margin-bottom: 30px;
  }

  // honeypot
  &-LastInput {
    display: none;
  }

  &-Error {
    background: var(--primary-x);
    max-width: max-content;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    opacity: 0;

    svg {
      margin-right: 10px;
    }

    animation: error-in 0.2s linear forwards;

    @keyframes error-in {
      from {
        transform: translateX(-100px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

.Contact-Alternatives {
  border-top: 1px solid var(--bg-dim);
  padding: 10px 0;

  &-Title {
    margin-top: 20px;
    font-family: var(--font-h);
    font-size: var(--h3);
    font-weight: 200;
  }

  p {
    font-weight: 200;
    color: var(--txt-dim);
  }

  a {
    color: var(--txt-dim);
  }
}
