.SwipeMenu {
  display: flex;
  overflow-x: scroll;
  padding: 10px 25px;
  scroll-behavior: smooth;

  &-Wrapper {
    display: flex;
    column-gap: 20px;
    padding-right: 25px;
  }
}

.SwipeMenu-Nav {
  position: relative;
  // display: flex;
  // justify-content: space-evenly;

  // padding: 0 10px;
}

.SwipeMenu-Left,
.SwipeMenu-Right {
  position: absolute;
  top: -300px;

  min-height: 2rem;
  min-width: 2rem;
  padding: 10px 5px;
  cursor: pointer;

  svg {
    border-radius: 50%;
    background: rgba(#000000, $alpha: 0.8);
    stroke: var(--white);
    fill: var(--white);

    padding: 5px;
    min-height: 2rem;
    min-width: 2rem;
    // box-shadow: 0 0 0 1px var(--txt);
    transition: box-shadow 0.1s ease-in;
  }

  &:hover {
    svg {
      box-shadow: 0 0 5px 1px var(--primary);
    }
  }
}

.SwipeMenu-Left {
  left: 0;
}

.SwipeMenu-Right {
  right: 0;
}
